SUPABASE_URL=https://lgxtiilvpnqgzuarzogb.supabase.co
SUPABASE_ANON_KEY=sb_publishable_h3EJz1E3rZDeZuDHDr1O3w_u9nJfYIe
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxneHRpaWx2cG5xZ3p1YXJ6b2diIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzI5MzY5MCwiZXhwIjoyMTAyODY5NjkwfQ.EsUBcDgmA919hBKgWDaW67ZQa9wyI431PSuVzBufzik